BasedOnStyle: Google
UseTab: Never
IndentWidth: 2
ColumnLimit: 120
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Allman
BreakBeforeBinaryOperators: All
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
BinPackArguments: false
BinPackParameters: false
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: Inline
