[submodule "lib/FastNoise2"]
	path = lib/FastNoise2
	url = https://github.com/Auburn/FastNoise2
[submodule "lib/i18n_keyval"]
	path = lib/i18n_keyval
	url = https://github.com/stefandevai/i18n_keyval.git
[submodule "lib/vcpkg"]
	path = lib/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "lib/heman"]
	path = lib/heman
	url = https://github.com/prideout/heman.git
