@import 'bulma/css/bulma.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-light-gray: rgba(230, 230, 230, 1.0);
  --color-text: #1b2629;
  --color-white: #fff;
}

.material-icons {
  font-size: 18px;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: inherit;
}

#app {
  display: flex;
  height: 100%;
}

body, html {
  margin: 0;
  line-height: 1;
  overflow: hidden;
  height: 100dvh;
}
